body {
    margin: 0px;
    padding: 0px;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    font-family: monospace;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(36,41,46);
    color: rgb(250,251,252);
    width: 100%;
}

.body-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: rgb(43,49,55);
    color: rgb(250,251,252);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 30px;
}

.user-information {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80%;
    gap: 40px;
}

.form-container {
   border: 1px solid rgb(36,41,46);
   padding: 20px;
   border-radius: 10px;
   font-family: monospace;
}

.gh-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: monospace;
}

.acc-id {
    font-family: monospace;
    padding: 6px;
    outline-style: none;
    border: 1px solid rgb(36,41,46);
    border-radius: 5px;
    transition: ease 0.25s;
    background-color: rgb(71, 80, 90);
    color: rgb(250,251,252); 
}

.acc-id::placeholder {
    color: rgb(250,251,252);
}

.acc-id:hover {
    -webkit-transform: scale(1.05);
}

.acc-id:focus-within {
    -webkit-transform: scale(1.05);
}

.gh-search-button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: rgb(45,186,78);
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    transition: ease 0.25s;
}

.gh-search-button:hover {
    cursor: pointer;
    background-color: rgb(39, 161, 67);
    -webkit-transform: scale(1.05);
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(24, 27, 31);
    border-radius: 10px;
    background-color: rgb(36,41,46);
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /* max-width: 250px; */
    font-family: monospace;
    transition: ease 0.25s;
}

.user-profile:hover {
    -webkit-transform: scale(1.05);
    border-radius: 20px;
}

.user-profile > p {
    margin: 0px;
    padding: 0px;
}

.avatar-pic {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    transition: ease 0.5s;
    border: 2px solid rgba(0, 0, 0, 0);
}

.avatar-pic:hover {
    -webkit-transform: scale(1.05);
    border: 2px solid rgb(24, 27, 31);
}

.follow-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.follow-section > p {
    margin: 0px;
    padding: 0px;
}

.user-repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgb(24, 27, 31);
    border-radius: 10px;
    background-color: rgb(36,41,46);
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
    /* max-width: 250px; */
    color: rgb(255,255,255);
    font-family: monospace;
    transition: ease 0.25s;
}

.user-repo:hover {
    -webkit-transform: scale(1.05);
    border-radius: 20px;
}

.flex-text {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
}

.user-repo > a {
    text-decoration: none;
    color: rgb(250,251,252);
}

.repo-title {
    margin-top: 2px;
    transition: ease 0.25s;
}

.repo-title:hover {
    -webkit-transform: scale(1.1);
    text-decoration: underline;
}

.description {
    margin: 0px;
    padding-top: 10px;
    margin-bottom: 8px;
    text-decoration: underline;
}

.description-box {
    border: 1px solid rgb(36,41,46);
    background-color: rgb(43,49,55);
    flex-grow: 1;
    border-radius: 10px;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(36,41,46);
    color: rgb(255,255,255);
    width: 100%;
}